name: Test-on-apisix

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  build:
    name: CI using lua-resty-worker-events
    runs-on: ubuntu-latest
    strategy:
      matrix:
        openresty-version: [1.27.1.2]

    steps:
      - name: Update and install OS dependencies
        run: |
          sudo apt-get update && sudo apt-get install -y libssl-dev ssl-cert


      - name: Checkout lua-resty-healthcheck
        uses: actions/checkout@v3

      - name: Install LuaRocks
        run: |
          cd $GITHUB_WORKSPACE
          sudo apt-get install -y luarocks

      - name: Install manual dependencies
        run: |
          sudo luarocks install luacheck
          sudo luarocks install lua-resty-worker-events 1.0.0

      - name: Install Test::NGINX
        run: |
          sudo apt-get install -y cpanminus
          cpanm --notest --local-lib=$HOME/perl5 local::lib && eval $(perl -I $HOME/perl5/lib/perl5/ -Mlocal::lib)
          cpanm --notest Test::Nginx

      - name: Install lua-resty-healthcheck
        run: |
          cd $GITHUB_WORKSPACE
          sudo luarocks make lua-resty-healthcheck-scm-1.rockspec

      - name: Run tests
        run: |
          eval `luarocks path`
          eval $(perl -I $HOME/perl5/lib/perl5/ -Mlocal::lib)
          TEST_NGINX_RANDOMIZE=1 prove -I. -r t/with_worker-events
